@CHARSET "ISO-8859-1";


div.userTypeChooser  {
        display: inline;
        background-color: powderblue;
        height: 300px;
        max-width: 200px;
        width: 25%;
        margin: auto;
        display:block;
        position: relative;
        float: left;
        margin-left: 10%;
        
}

p.userTypeChooser  {
    position:absolute;
    bottom: 0;
}

div {
    display: inline-block;
    width: 100%;
}

.textBox {
    display: list-item;
    margin-top: 10px;
    margin-left: 50%;
}

#chooserContainer {
    width: 1000px;
    margin-left: 20px;
}

#buttonLogin {
   float: left;
    width: 400px;
    margin-left: 200px;
}

#containAll {
  display: flex;
  margin-left: 35%;
}
#buttonsDiv {
  width: 150px;
  height: 272px;
}
#logDetails {
  flex: 1;
  max-width: 160px;
  border-style: solid;
}
.userTypes {
	height: 60px;
	border-style: solid;
	height: 33%;
}

.footer {
 text-align: center;
 margin: 80px 0 110px;
clear: both;  
}

.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}

.footer img {
   margin: 0 10px;
}
