<!DOCTYPE html>
<html>
<head>
    <!-- ISO-8859-1 --> 
    <meta charset="utf-8">
    <title>VIP DB</title>

    <link rel="stylesheet" href="../CSS/angular-material.min.css">
    <link rel="stylesheet" href="../CSS/md-data-table.min.css">
    <link rel="stylesheet" href="../CSS/extraStyle.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
      
    <script src="../Scripts/Angular/angular.min.js"></script>
    <script src="../Scripts/Angular/angular-aria.min.js"></script>
    <script src="../Scripts/Angular/angular-messages.min.js"></script>
    <script src="../Scripts/Angular/md-data-table.min.js"></script>
    <script src="../Scripts/Angular/angular-animate.min.js"></script>
    <script src="../Scripts/Angular/angular-material.min.js"></script>
    <script src="../Scripts/controller/vipController.js"></script>

</head>
<body ng-app="vip" ng-controller="vipController" ng-init="getVipData()">
    <div class="extra">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2>
                    <span>VIP DB</span>
                </h2>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <md-input-container class="md-block md-title extra" flex>
                <label>Search VIP by name</label>
                <input ng-model="search.name">                              
            </md-input-container>
            <md-button class="md-raised md-primary" flex-offset="70" ng-click="showCreateDialog($event)">New VIP</md-button>
        </div>
        <md-table-container>

            <table md-table class="extra">
                <thead md-head md-order="myOrder">
                    <tr>
                        <th md-column md-order-by="id" md-numric>{{ Headers[0].name }}</th>
                        <th md-column md-order-by="name">{{ Headers[1].name }}</th>
                        <th md-column md-order-by="age">{{ Headers[2].name }}</th>
                        <th md-column md-order-by="country">{{ Headers[3].name }}</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="vip in vipList | orderBy: myOrder | filter:search">
                        <td md-cell>{{vip.id}}</td>
                        <td md-cell>
                            <input type="text" ng-model="vip.name" ng-change="passChanged = 1" class="extra"/>
                        </td>
                        <td md-cell>
                            <input type="number" min="0" ng-model="vip.Age" ng-change="passChanged = 1" class="extra""/>
                        </td>
                        <td md-cell>
                            <md-select ng-model="vip.country" ng-change="passChanged = 1">
                                <md-option value="{{ country }}" ng-repeat="country in countries">{{ country }}</md-option>
                            </md-select>
                        </td>
                        <td md-cell><md-button class="md-raised md-primary" ng-init="passChanged = 0" 
                                               ng-disabled="passChanged == 0 || vip.name ==''|| vip.Age == null || vip.country == null" 
                                               ng-click="updateVip(vip); passChanged = 0">Save</md-button></td>
                        <td md-cell><md-button class="md-raised md-primary" ng-click="removeDialog($event,$index,vip.id,vipList);">Remove</md-button></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
         <h1 ng-hide="vipList.length != 0" style="text-align:center;" >DB is empty - be the first to add new VIP</h1>
    </div>
</body>
</html>